<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </head>
  <body>

    <div class="container">

      <div class="add-course">
        <h3>Are you sure?</h3>
        <div>Name: {{ course.name }}</div>
        <div>Description: {{ course.description }}</div>
        <a class="btn gray" href="/">No</a>
        <a class="btn red" href="/delete/{{ course.id }}">Delete</a>
      </div>

    </div>

  </body>
</html>
