<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </head>
  <body>

    <div class="container">

      <div class="add-course">
        <h3>Add a new course</h3>
        {% for message in messages %}
        <div class="message">{{ message }}</div>
        {% endfor %}
        <form action="/add" method="post">
          {% csrf_token %}
          Name:
          <input type="text" name="name">
          Description:
          <textarea name="description" rows="8" cols="80"></textarea>
          <input class="btn green" type="submit" value="Add">
        </form>
      </div>

      <div class="course-list">
        <h3>Courses</h3>
        <table>
          <thead>
            <tr>
              <th>Course Name</th>
              <th>Description</th>
              <th>Date Added</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td>{{ course.name }}</td>
              <td>{{ course.description }}</td>
              <td>{{ course.date_added }}</td>
              <td>
                <a href="/destroy/{{ course.id }}">remove</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>

  </body>
</html>
