<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Time Display</title>
  </head>
  <style media="screen">

    .container {
      margin: auto;
      text-align: center;
      background: #ffa;
      border-radius: 8px;
      width: 500px;
      padding: 24px;
      font-size: 42px;
      margin-top: 80px;
      padding-top: 52px;
      padding-bottom: 52px;
    }

  </style>
  <body>

      <div class="container">
        {{ time }}
      </div>

  </body>
</html>
